
{{>header}}

{{>navbar}}

    <!-- ====== Banner Start ====== -->
    <section class="ud-page-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-banner-content">
              <h1>Nusantara Page</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Banner End ====== -->

    <!-- ====== Features Start ====== -->
    <section id="features" class="ud-features">
      <div class="container" name="{{this.id}}">
        <a href="/addprov" class="ud-main-btn-add">
          Tambah Provinsi
        </a>
        <a href="/addkab" class="ud-main-btn-add">
          Tambah Kabupaten
        </a>
      </div>
    </section>
    <!-- ====== Features End ====== -->

    <!-- ====== Features Start ====== -->
    <section id="features" class="ud-features">
      <div class="container" name="{{this.id}}">
        <form action="/" method="POST">
          <div class="row">
            <div class="col-10 mt-2">
              <div class="ud-form-group">
                  <select name="search" id="">
                    <option value="Provinsi">Provinsi</option>
                    <option value="Kabupaten">Kabupaten</option>
                  </select>
              </div>
            </div>
            <div class="col-2">
              <button type="submit" class="ud-main-btn">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <!-- ====== Features End ====== -->

    <!-- ====== Blog Start ====== -->
    <section class="ud-blog-grids">
      <div class="container">
        <div class="row">
          {{#each newProvs}}
          <div class="col-lg-4 col-md-6">
            <div class="ud-single-blog">
              <div class="ud-blog-image">
                <a href="/kabupaten/{{this.id}}">
                  <img src="../../public/upload/{{this.photo}}" alt="blog" />
                </a>
              </div>
              <div class="ud-blog-content">
                <span class="ud-blog-date">{{this.nama}}</span>
                <span class="ud-blog-rating">{{this.diresmikan}}</span>
                <h3 class="ud-blog-title">
                  <a href="/kabupaten/{{this.id}}">
                    Details
                  </a>
                </h3>
                <hr class="dropdown-divider" />
                <form action="/deleteprov/{{this.id}}?_method=DELETE" method="POST">
                  <a href="/editkab/{{this.id}}" class="btn btn-warning">
                    Edit
                  </a>
                  <button type="submit" class="btn btn-danger">
                    Delete
                  </button>
                </form>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </section>
    <!-- ====== Blog End ====== -->


{{>footer}}
